<nav class="navbar">
  <div class="logo">
    <img src="img/logo_1.png" alt="Logo">
    <a href="#">Soluciones</a>
  </div>
  <ul class="navbar-menu">
    <li class="navbar-item">Inicio</li>
    <li class="navbar-item dropdown">
      <span>Servicios</span>
      <img src="icons/add-icon.png" alt="Icono" class="dropdown-icon">
      <ul class="dropdown-menu">
        <li class="item_1">Consultoría</li>
        <li class="item_2">Innovación</li>
        <li class="item_3">BPO</li>
        <li class="item_4">Automatizacion de ambiente QA </li>
      </ul>
    </li>
    <li class="navbar-item dropdown">
      <span>Productos</span>
      <img src="icons/add-icon.png" alt="Icono" class="dropdown-icon">
      <ul class="dropdown-menu">
        <li class="item_P1">Infocusnews</li>
        <li class="item_P2">Business Intelligence</li>
        <li class="item_P3">Innovación</li>
      </ul>
    </li>
    <li class="navbar-item">Nosotros</li>
  </ul>
  <div class="contacto">
    <a href="#" class="contacto-item">Contacto</a>
  </div>
</nav>
