<div class="contain">
    <div class="contain_text">
        <h1 class="main_text">El camino de la Evolución Digital</h1>
        <h2 class="sub_text">Soluciones Tecnológicas de Alto Impacto</h2>
        <p class="description_text">Más de 10 años de experiencia, desarrollando soluciones tecnológicas innovadoras para sectores clave. Transformamos industrias con proyectos de alto impacto</p>
        <button class="custom_button">
            <span class="button_text">Ver más</span>
            <img src="icons/arrow_icon.png" alt="Arrow Icon" class="button_icon">
        </button>
        
    </div>
    <div class="contai_image">
       
        <img src="img/main_img.png" alt="Main Image" class="main_img">
        <img src="img/wave.png" alt="wave" class="wave">
        <img src="img/piece_1.png" alt="piece" class="piece_1">
        <img src="img/piece_2.png" alt="piece" class="piece_2">
        <img src="img/piece_3.png" alt="piece" class="piece_3">


    </div>

</div>