<section class="asesorias-integrales" *ngFor="let info of infoData">
    <img class="image_1" src="assets/images/image2.png" alt="">
    <img class="image_2" src="assets/images/image2.png" alt="">
    <img src="./assets/icons/add-icon.png" alt="Icono" class="dropdown-icon_1">
    <img src="./assets/icons/add-icon.png" alt="Icono" class="dropdown-icon_2">
    <div class="title">
      <h1>{{ info.titleDescription }}</h1>
      <img src="assets/icons/Line.png" alt="">
      <p>{{ info.description }}</p>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card_content" *ngFor="let card of cardsData1">
                <img src="assets/icons/Code_perspective_matte.png" alt="">
                <h2>{{card.titleCard}}</h2>
                <p>{{card.descriptionCard}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card_content" *ngFor="let card of cardsData2">
                <img src="assets/icons/Code_perspective_matte.png" alt="">
                <h2>{{card.titleCard}}</h2>
                <p>{{card.descriptionCard}}</p>
            </div>
        </div>
        <div class="card">
            <div class="card_content" *ngFor="let card of cardsData3">
                <img src="assets/icons/Code_perspective_matte.png" alt="">
                <h2>{{card.titleCard}}</h2>
                <p>{{card.descriptionCard}}</p>
            </div>
        </div>
    </div>
    <img src="assets/images/rectangle_19.png" alt="" class="rectangle">
</section>
  