<img src="assets/logo/logo_translucido.png" alt="" class="background_logo">

<div class="contact_information">
    <div class="text">
        <p> {{text}} </p>
    </div>
    
    <div class="content_contact" id="content_contact">
        @for (meanContact of meansContact; track $index) {
            <div class="row_info">
                @for (meansContact1 of meanContact.MeansContact1; track $index) {
                    <div class="content_info">
                        <img [src]="meansContact1.img" alt="">
                        <p>{{meansContact1.text}}</p>
                        <p class="info">{{meansContact1.info}}</p>
                    </div>
                }
                @for (meansContact2 of meanContact.MeansContact2; track $index) {
                    <div class="content_info">
                        <img [src]="meansContact2.img" alt="">
                        <p>{{meansContact2.text}}</p>
                        <p class="info">{{meansContact2.info}}</p>
                    </div>
                }
            </div>
        }
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31812.07314472265!2d-74.047122!3d4.681203!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a96ac5032a7%3A0x79913db913293bda!2sCra.%2014%20%2394a-61%2C%20Chapinero%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1sen!2sus!4v1734506064139!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
