<div class="contact_information">
    <div class="text">
        <p>Es fundamental para nosotros tener una comunicación fluída con nuestros clientes y poder hacer excelentes proyectos y negocios.</p>
    </div>
    
    <div class="content_contact">
        <div class="row">
            <div class="content_info">
                <img src="./../../../../assets/icons/phone.png" alt="">
                <p>Numeros</p>
                <p class="info">+57 1 300 4345</p>
            </div>
            <div class="content_info">
                <img src="./../../../../assets/icons/mail.png" alt="">
                <p>Correo</p>
                <p class="info"> {{'info@etlsoluciones.com'}} </p>
            </div>
        </div>
        
        <div class="row">
            <div class="content_info">
                <img src="./../../../../assets/icons/whatsapp.png" alt="">
                <p>Whatsapp</p>
                <p class="info">+57 1 300 4345</p>
            </div>
            <div class="content_info">
                <img src="./../../../../assets/icons/ubication.png" alt="">
                <p>Oficina</p>
                <p class="info">Carrera. 14 # 94a- 61,  Oficina 303</p>
            </div>
        </div>
    </div>

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31812.07314472265!2d-74.047122!3d4.681203!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a96ac5032a7%3A0x79913db913293bda!2sCra.%2014%20%2394a-61%2C%20Chapinero%2C%20Bogot%C3%A1%2C%20Colombia!5e0!3m2!1sen!2sus!4v1734506064139!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
