<p-galleria 
  #galleria
  [value]="images" 
  [(activeIndex)]="activeIndex" 
  [numVisible]="3" 
  [showThumbnails]="showThumbnails" 
  [showItemNavigators]="true" 
  [showItemNavigatorsOnHover]="true" 
  [circular]="true" 
  [autoPlay]="true" 
  [transitionInterval]="3000" 
  [containerStyle]="{ 'max-width': '800px' }"
  [containerClass]="galleriaClass()">
  
  <!-- Contenido del carrusel -->
  <ng-template pTemplate="item" let-item>
    <div class="carousel-item">
      <img [src]="item.itemImageSrc" alt="{{ item.alt }}" />
      <div class="carousel-caption">
        <h3>{{ item.title }}</h3>
        <p>{{ item.alt }}</p>
      </div>
    </div>
  </ng-template>
</p-galleria>
