<div class="products">
    <div class="title">
        <h1> Innovar con las tendencias tecnológicas </h1>
    </div>

    <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>

    <div class="components">
        <div class="product">
            <div class="info">
                <div class="title_info">
                    <h3>Infocusnews</h3>
                    <div class="icon">
                        <img src="./assets/icons/text.png" alt="">
                    </div>
                </div>
                <div class="body_info"> 
                    <p>Diario digital que descubre información de valor en su compañía utilizando modelos estadísticos…</p>
                    <button>
                        <p> ver mas </p> <img src="./assets/icons/cursor.png" alt=""> 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
