<nav class="navbar" id="navbar">
  <div class="logo">
    <a  [routerLink]="['/principal']" routerLinkActive="router-link-active">
      <img src="./assets/logo/logo_1.png" alt="Logo">
      <span href="#">Soluciones</span>
    </a>
  </div>
  <ul class="navbar_menu">
    @for (menuItem of menuItems; track $index) {

      @if (menuItem.subMenu.length <= 0) {
        <li class="item navbar_item">
          <a [routerLink]="[menuItem.link]" routerLinkActive="router-link-active"> {{menuItem.title}} </a>
        </li>
      }@else {
        <li class="navbar_item dropdown">
          <span>{{menuItem.title}}</span>
          <img src="./assets/icons/add-icon.png" alt="Icono" class="dropdown_icon">
          <div class="dropdown_menu">
            <ul class="dropdown_menu_items">
              @for (subMenuItem of menuItem.subMenu; track $index) {
                <li class="item">
                  <a [routerLink]="[subMenuItem.link]" routerLinkActive="router-link-active">{{subMenuItem.subTitle}}</a>
                </li>
              }
            </ul>
          </div>
        </li>
      }
    }
  </ul>
  <div class="contacto">
    <button (click)="scrollToContact()" class="contacto-item">Contacto</button>
  </div>
</nav>
