.navbar {
  background-color: var(--background_color);
  border-radius: var(--box_border_radius);
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
span{
  color: var(--text_color);
  font-size: 1.4rem;
}
.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navbar-brand img {
  width: 100%;
  margin-right: 8px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-nav .nav-item {
  margin: 0 15px;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: var(--text_color);
  transition: 0.3s ease-in-out;
  border-radius: var(--box_border_radius_options);
  padding: 8px 18px;
}

.navbar-nav .nav-link:hover {
  background-color: #00b2edc0;
  box-shadow: 0 0 0 2px var(--background_color),
    0 0 0 3px #00b2edc0
}

.dropdown-menu {
 margin-top: 3px;
  background-color: var(--card_container_color);
  border-radius: 0 10px 0 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInCascada 0.4s ease forwards;
  
}
.dropdown-menu .dropdown-item{
  color: var(--text_color);
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--primary_color);
}
@keyframes fadeInCascada {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.navbar .btn-contacto {
  background-color: var(--primary_color);
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
}

.navbar .btn-contacto:hover {
  background-color: var(--hover_color);
}

navbar-toggler-icon{
  color: var(--text_color);
}

.navbar-nav .nav-link{
  text-align: center;
}

.navbar-collapse{
  text-align: center;
}