<img class="image_1" src="assets/images/image2.png" alt="">
<img class="image_2" src="assets/images/image2.png" alt="">

<section class="asesorias-integrales">
  <img src="./assets/icons/add-icon.png" alt="Icono" class="dropdown-icon_1">
  <img src="./assets/icons/add-icon.png" alt="Icono" class="dropdown-icon_2">
    <div class="title">
      <h2>Asesorías Integrales</h2>
      <img src="assets/icons/Line.png" alt="">
      <p>
        Servicios de asesoría integral en gestión de procesos para garantizar que las soluciones tecnológicas de su organización son mayor retorno posible a su negocio.      </p>
    </div>
    <div class="content">
      <div class="image-container">
        <img src="assets/images/consultoria_left.png" alt="Asesoría" />
      </div>
      <div class="text-container">
        <h3>¿En qué consiste?</h3>
        <p>
            Consisten en un servicio de asesoría especializada e independiente al que recurren las empresas en diferentes industrias con el fin de encontrar, soluciones a uno o más problemas y/o mejoras de negocio.        </p>
        <p>
            Nuestros servicios de consultoría son parte de las grandes soluciones que te ofrece ETL.        </p>
        <p>
            Las consultorías consisten en un servicio de asesoría especializada e independiente al que recurren las empresas en diferentes industrias con el fin de encontrar, soluciones a uno o más problemas y/o mejoras de negocio. Por esto, nuestros servicios de consultoría son parte de las grandes soluciones que te ofrece ETL.        </p>
      </div>
    </div>
  </section>
  