/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

* {
    padding: 0px 0px 0px;
    margin: 0px 0px 0px;
    outline: none;
    font-family: 'Sora', sans-serif;
    letter-spacing: 0px;
    border: none;
    transform-origin: 50% 50%;
    transition: all .3s ease-in-out;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: cubic-bezier(.25, .46, .45, .94);
    animation-timing-function: cubic-bezier(.25, .46, .45, .94);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -ms-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -o-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-sizing: content-box;
    --box_shadow: -5px 9px 10px -3px rgba(87, 87, 87, 0.082);
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    --pure_white: #ffff;
    --pure_black: #000000;
    --withe: #ffff;
    --black: #000000;
    --pure_primary_color: #00B1ED;
    --primary_color: #00B1ED; /* Azul primario */
    --secondary_color: #9A61EE; /* Morado secundario */
    --accent_color: #00B1ED; /* Fondo de secciones claras */
    --background_color: #F7FDFF; /* Fondo general */
    --text_color: #0D0E11; /* Texto principal */
    --muted_text_color: #1D1E1C; /* Texto secundario */
    --hover_color: #00b2edc0; /* Hover sobre enlaces o botones */
    --background_form: #C5D9E4; /* Fondo del formulario (tema claro) */
    --background_skills: #ffffff; /* Fondo del skills (tema claro) */
    --background_input: #EDF9FF; /* Fondo del formulario (tema claro) */
    --card_color: rgba(255, 255, 255, 0.64); /* Blanco con 64% de opacidad */
    --card_container_color: #FFFFFF; /* Fondo del contenedor (tema claro) */
    --font_family_secondary: 'Quicksand', sans-serif;
    --font_weight_extra-bold: 800; /* Sora Extra Bold */
    --font_weight_semi_bold: 600; /* Sora y Quicksand Semi Bold */
    --font_weight_regular: 400; /* Quicksand Regular */
    --font_weight_extra_bold: 800; /* Sora Extra Bold */
    --font_weight_semi_bold: 600; /* Sora y Quicksand Semi Bold */
    --font_weight_regular: 400; /* Quicksand Regular */
    --font_weight_light: 300;
    --gradient_box_primary: linear-gradient(180deg, #00B1ED, #5A8DFD, #9A61EE);/* Degradado azul a morado */
    --gradient_box_secondary: linear-gradient(135deg, #007ACC, #00B1ED); /* Degradado morado a azul */
    --box_border_width: 4px; /* Grosor del borde */
    --box_border_radius: 12px; /* Radio del borde para esquinas redondeadas */ 
    --box_border_radius_options: 15px; /* Radio del borde para esquinas redondeadas */ 
}

body{
    background-color: var(--background_color);
}

@media(prefers-color-scheme: dark){
    body {
        --pure_white: #ffff;
        --pure_black: #000000;
        --pure_primary_color: #00B1ED;
        --withe: #000000;
        --black: #ffff;
        --primary_color: #00B1ED; /* Azul primario */
        --secondary_color: #9A61EE; /* Morado secundario */
        --accent_color: #1D2126; /* Fondo de secciones oscuras */
        --background_color: #0D0E11; /* Fondo general */
        --text_color: #FFFFFF; /* Texto principal */
        --muted_text_color: #FFFFFF; /* Texto secundario */
        --hover_color: #00b2edc0; /* Hover sobre enlaces o botones */
        --background_form: #293241; /* Fondo del formulario (tema oscuro) */
        --background_skills: #293241; /* Fondo del skills (tema oscuro) */
        --background_input: #1C222C; /* Fondo del formulario (tema oscuro) */
        --card_color: rgba(13, 14, 17, 0.64); /* Gris oscuro con 64% de opacidad */
        --card_container_color: #293241; /* Fondo del contenedor (tema oscuro) */ 
        
    }
}


/* ------Estilo general botones-------- */
.custom_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    padding: 12px 24px;
    background-color: var(--primary_color);
    color: white;
    font-size: 1rem;
    font-weight: var(--font_weight_semi_bold);
    border: none;
    border-radius: var(--box_border_radius_options);
    cursor: pointer;
    text-align: center;
}
.custom_button:hover {
    background-color: var(--hover_color);
    box-shadow: 0 0 0 2px var(--background_color),
    0 0 0 3px #00b2edc0
}
.button_icon {
    width: 20px; 
    height: 20px;
}
