<div class="formContent" id="contact">
    <div class="title_form">
        <h5 class="title">Pónganse en contacto con nosotros hoy!</h5>
        <p>Campos obligatorios(*)</p>
    </div>
    <form class="form" action="">
        <div class="form_item">
            <label for="name">Nombre Completo *:</label>
            <input type="text" id="name" name="name" required autocomplete="off"/>
        </div>
        <div class="form_item">
            <label for="email">Correo Electronico *:</label>
            <input type="text" id="email" name="email" required autocomplete="off"/>
        </div>
        <div class="form_item">
            <label for="phone">Telefono *:</label>
            <input type="text" id="phone" name="phone" required autocomplete="off"/>
        </div>
        <div class="form_item">
            <label for="project">Cuentanos tu proyecto *:</label>
            <textarea name="project" id="project" rows="5" cols="90"></textarea>
        </div>
        <div class="form_item">
            <button class="btn_form">
                <p> Enviar </p> <img src="./assets/icons/cursor.png" alt=""> 
            </button>
        </div>
    </form>
</div>
