<div class="logos light_theme">
    <div class="logos_slide">
      <img *ngFor="let client of clients" class="filter" [src]="'./assets/clients/' + client" />
      <img *ngFor="let client of clients" class="filter" [src]="'./assets/clients/' + client" />
    </div>
  </div>
  
  <div class="logos dark_theme">
    <div class="logos_slide">
      <img *ngFor="let client of darkClients" class="filter" [src]="'./assets/clients/' + client" />
      <img *ngFor="let client of darkClients" class="filter" [src]="'./assets/clients/' + client" />
    </div>
  </div>
  