<div class="logos">
    <div class="logos_slide">
        <img src="./assets/clients/client_1.png" />
        <img src="./assets/clients/client_2.png" />
        <img src="./assets/clients/client_3.png" />
        <img src="./assets/clients/client_4.png" />
        <img src="./assets/clients/client_5.png" />
        <img src="./assets/clients/client_6.png" />
        <img src="./assets/clients/client_7.png" />
        <img src="./assets/clients/client_8.png" />
        <img src="./assets/clients/client_9.png" />
        <img src="./assets/clients/client_10.png" />
        <img src="./assets/clients/client_11.png" />
        <img src="./assets/clients/client_12.png" />
        <img src="./assets/clients/client_13.png" />

    </div>

    <div class="logos_slide">
        <img src="./assets/clients/client_1.png" />
        <img src="./assets/clients/client_2.png" />
        <img src="./assets/clients/client_3.png" />
        <img src="./assets/clients/client_4.png" />
        <img src="./assets/clients/client_5.png" />
        <img src="./assets/clients/client_6.png" />
        <img src="./assets/clients/client_7.png" />
        <img src="./assets/clients/client_8.png" />
        <img src="./assets/clients/client_9.png" />
        <img src="./assets/clients/client_10.png" />
        <img src="./assets/clients/client_11.png" />
        <img src="./assets/clients/client_12.png" />
        <img src="./assets/clients/client_13.png" />
    </div>

    <div class="logos_slide">
        <img src="./assets/clients/client_1.png" />
        <img src="./assets/clients/client_2.png" />
        <img src="./assets/clients/client_3.png" />
        <img src="./assets/clients/client_4.png" />
        <img src="./assets/clients/client_5.png" />
        <img src="./assets/clients/client_6.png" />
        <img src="./assets/clients/client_7.png" />
        <img src="./assets/clients/client_8.png" />
        <img src="./assets/clients/client_9.png" />
        <img src="./assets/clients/client_10.png" />
        <img src="./assets/clients/client_11.png" />
        <img src="./assets/clients/client_12.png" />
        <img src="./assets/clients/client_13.png" />
    </div>
</div>